<hr>
<div class="container">
  <h2>Exotic Food</h2>
  <span class="subheader"><i>Posted by So-And-So</i></span>
  <br>
  <p></p><br>
  <div class="container">
      <div class="row">
          <div class="col-sm-5">
                <img src={{postPic}} class="media-object" style="width:450px">
          </div>
          <div class="col-sm-4">
              <h3>Recipe</h3>
              <app-expandable-pane>{{postRecipe}}</app-expandable-pane>
          </div>
      </div>
  </div>

  <span style="padding:181px">
      <span style="padding:2px"><button class="button" style="background-color:#FF5468" (click)="favoriteClicked()"><span class="glyphicon glyphicon-heart"><span class="glyph-text">Favorite</span></span></button></span>
      <span style="padding:2px"><button class="button" style="background-color:#3F69FF" (click)="likeClicked()"><span class="glyphicon glyphicon-thumbs-up"><span class="glyph-text">{{likeCounter}}</span></span></button></span>
      <span style="padding:2px"><button class="button" style="background-color:#FF6156"(click)="dislikeClicked()"><span class="glyphicon glyphicon-thumbs-down"><span class="glyph-text">{{dislikeCounter}}</span></span></button></span>
      <span style="padding:2px"><button class="button" style="background-color:#14FFB8"(click)="commentClicked()"><span class="glyphicon glyphicon-share-alt"><span class="glyph-text">Comment</span></span></button></span>
  </span>
  <br><br>
  <app-expandable-pane width="50%" min_height="128px">
  <div class="media">
    <div class="media-left">
      <img src={{img1Path}} class="media-object" style="width:45px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Eric <small><i>Posted on February 19, 2016</i></small></h4>
      <p>Check out this turtle!</p>

      <!-- Nested media object -->
      <div class="media">
        <div class="media-left">
          <img src={{img1Path}} class="media-object" style="width:45px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Walter <small><i>Posted on February 19, 2016</i></small></h4>
          <p>{{postComments}}</p>
        </div>

          <div class="media">
            <div class="media-left">
              <img src={{img1Path}} class="media-object" style="width:45px">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Chris <small><i>Posted on February 19, 2016</i></small></h4>
              <p>Stop fooling around, we have a website to make.</p>
            </div>
          </div>
        </div>
      </div>

  </div>
  </app-expandable-pane>
  <div *ngIf="createCommentDisplay">
      <textarea [(ngModel)]="commentBody" rows=8 cols=78></textarea>
      <button (click)="submitComment()">Create response</button>
  </div>
</div>
