
<div class="container">
  <h2>Exotic Food</h2>
  <a href="#">[Click to see recipe]</a>
  <br>
  <p></p><br>
  <img src={{postPic}} class="media-object" style="width:450px">
<div class="well" style="width:50%">
  <div class="media">
    <div class="media-left">
      <img src={{img1Path}} class="media-object" style="width:45px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Eric <small><i>Posted on February 19, 2016</i></small></h4>
      <p>Check out this turtle!</p>

      <!-- Nested media object -->
      <div class="media">
        <div class="media-left">
          <img src={{img1Path}} class="media-object" style="width:45px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Walter <small><i>Posted on February 19, 2016</i></small></h4>
          <p>This is me testing the pipeline with Angular.</p>
        </div>

          <div class="media">
            <div class="media-left">
              <img src={{img1Path}} class="media-object" style="width:45px">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Chris <small><i>Posted on February 19, 2016</i></small></h4>
              <p>Stop fooling around, we have a website to make.</p>
            </div>
          </div>
</div>
        </div>
      </div>

  </div>
</div>
