<div class="container-fluid">
            <div class="col-sm-6">
                <div class="bordered-section1">
                    <h1>New Post</h1>
                    <hr>    <!-- Line separator -->
                    <form> <!-- action="Reimbursement.Servlet" method="Post" -->
                        <ul style="list-style-type:none">
                            <li><b>Post Name</b></li>
                            <li><input type="text" name="postName" [(ngModel)]="postName" size=43 required></li>
                            <li><br/></li>
                            <li><b>Recipe</b></li>
                            <li><textarea type="text" name="recipe" [(ngModel)]="recipe" rows=8 cols=46 required></textarea></li>
                            <li><br/></li>
                            <li><b>Picture</b></li>
                            <li><input type='file' (change)="onSelectFile($event)" required></li>
                            <li><br></li>
                            <li><button type="button" (click)="showModal()">Preview</button></li>
                            <li><br></li>
                            <li><b>Category</b></li>
                            <li>
                                <select name="type" (change)="onSelectTag($event)"style="width:50%" required>
                                    <option *ngFor="let option of validCriteria">{{option}}</option>
                                </select>
                            </li>
                            <li><br/></li>
                            <li><b>Description</b></li>
                            <li><textarea type="text" name="comment" [(ngModel)]="comment" rows=8 cols=46 required></textarea></li>
                            <li><button type="button" (click)="onSubmitClicked()">Submit</button>
                                <input type="reset" value="Reset">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="output">
                    <div id="myModal" class="modal" [style.display]="displayModal">
                        <!-- TODO: functionize this. -->
                        <span class="close" (click)=closeModal()>&times;</span>
                        <img id="img01" class="modal-content" [src]="imgSrc">
                        <br/>
                    </div>
                    <!-- for the modal -->
                    <!-- Handled by TypeScript -->
                </div>
            </div>
        </div>
