<app-nav-bar></app-nav-bar>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
        <h3>Helpful Links</h3>
        <br>
        <p><a href="#">Become a Premium Member!</a></p>
        <p><a href="#">Subscribe to our Newsletter!</a></p>
        <p><a href="#">Become a Premium Member!</a></p>
        <p><a href="#">Become a Premium Member!</a></p>
    </div>
    <div class="col-sm-8 text-left">
      <h1>{{headerTitle}}</h1>
      <p style="white-space:pre-wrap">{{headerMessage}}</p>
      <app-media-post></app-media-post>
      <app-media-post></app-media-post>
    </div>
    <div class="col-sm-2 sidenav">

        <!-- loops the ad -->
        <div *ngFor="let element of array">
            <div class="well">
                <a href="https://revature.com" ><img class="ad" src="../assets/images/ad_revature.png" style="max-width: 100%"></a>
            </div>
        </div>

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
<p>Down here are even more words! However, the words here probably shouldn't be these words but rather links to some fancy
places. Hopefully the links are safe, but who knows, its all just words.</p>
</footer>
