<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default suite" >

    <test name="TestWithGroups">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="login"/>
                <!-- This will run only tests with the specified group tag.
                You can also exclude specific tags. -->
            </run>
        </groups>
        <classes>
            <class name="com.revature.overknight.frontend.Tests.QuickByteDriverTest"></class>
        </classes>
    </test>
</suite> <!-- Default suite -->